.arrow-down {
    animation: moveArrow 0.8s linear alternate infinite;
}

@keyframes moveArrow {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}