.left {
    display: flex;
}

.container {
    /* width: 1142px; */
    /* background-color: red; */
    /* margin-top: 231px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: center; */
}

.t-container {
    margin-top: 231px;
}


.transform,
.standout {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* display: inline-block; */
    /* width: 50%; */
    padding: 90px 100px;
    /* background-color: lightgreen; */
}

.message {
    /* width: 368px; */
    margin-bottom: 40px;
    color: hsl(210, 4%, 67%);
}

.image {
    /* width: 500px; */
    vertical-align: top;
    display: flex;
    width: 100%;
    /* padding: 100px; */
}

/* .s-image {
    width: 20px;
} */

.learn-more {
    font-family: 'Barlow', serif;
    border: none;
    cursor: pointer;
    height: 15px;
    text-align: left;
    font-weight: bold;
    width: 120px;
    /* background-color: blue; */
    background-color: transparent;
}

.t-learn-more {
    border-bottom: 5px solid hsla(51, 100%, 49%, 0.5);
}

.s-learn-more {
    border-bottom: 5px solid hsla(7, 99%, 70%, 0.5);
}

.t-learn-more:hover {
    border-bottom: 5px solid hsl(51, 100%, 49%);
}

.s-learn-more:hover {
    border-bottom: 3px solid hsl(7, 99%, 70%);
}

.graphic-design,
.photography {
    position: relative;
}

.gd-body,
.p-body {
    position: absolute;
    /* top: 100px; */
    bottom: 60px;
    line-height: 22px;
    left: 100px;
    color: hsl(167, 40%, 24%);
    right: 100px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.gd-body .heading
.p-body .heading {
    margin-bottom: 10px;
}


@media (max-width: 701px) {
    .container {
        grid-template-columns: 1fr;
    }

    .transform,
    .standout 
    {
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .message {
        width: 260px;
        text-align: center;
    }

    .image {
        /* height: 600px; */
        object-fit: cover;
    }

    .learn-more {
        width: 110px;
    }

    .gd-body,
    .p-body {
        bottom: 30px;
        width: 400px;
        left: 30px;
    }

    .gd-info {
        width: 400px;
    }
}

@media (max-width: 510px) {
    .image {
        width: 461px;
    }
}