.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}

.gallery .img {
    width: 100%;
}

.extras {
    text-align: center;
    background-color: hsl(168, 70%, 66%);
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.company-logo {
    padding-top: 50px;
    padding-bottom: 30px;
}

.menu {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: hsl(168, 34%, 41%);
    margin-bottom: 50px;
    margin-top: -20px;
}

.menu .services,
.menu .projects {
    margin-left: 35px;
}

.menu .about:hover,
.menu .services:hover,
.menu .projects:hover {
    color: white;
}

.social-media img {
    margin-left: 10px;
    cursor: pointer;
}

.social-media img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(500%);
}