@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body {
    font-family: "Fraunces", serif;
    margin: 0;
}

.header-image {
    width: 100%;
    width: 100%;
}

nav {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    position: absolute;
    color: white;
    font-size: 50px;
    white-space: nowrap;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.left {
    position: absolute;
    left: 20px;
    top: 50px;
}

.left img {
    cursor: pointer;
}

.right {
    position: absolute;
    top: 50px;
    right: 30px;
    /* text-align: right; */
    vertical-align: middle;
    width: 380px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.right .menus {
    cursor: pointer;
    transition: color 0.15s;
}

.right .menus:hover {
    color: hsl(0, 3%, 87%);
}

.contact {
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 0 30px;
    border-radius: 50px;
    margin-top: 5px;
    cursor: pointer;
    height: 35px;
    transition: background-color 0.15s;
}

/* .contact:hover {
    color: white;
    background-color: hsl(0, 0%, 76%);
} */